body {
    background-color: #708090;
}

.report-container {
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 10px;
}

h1 {
    font-family: "Georgia"; 
    color: #000000; 
    font-size: 30px;
    margin: 10px;
    text-align: center;
}

h2 {
    font-family: "Georgia"; 
    color: #000000; 
    font-size: 25px;
    margin: 10px;
    text-align: left;
}

h3 {
    font-family: 'Georgia';
    color: #000000;
    font-size: 20px;
    margin: 10px;
    text-align: center;
}

h5 {
    font-family: 'Georgia';
    color: #000000;
    font-size: 12px;
    margin: 10px;
    text-align: left;
}

p {
    font-family: 'Georgia';
    color: #000000;
    font-size: 15px;
    margin: 10px;
    text-align: left;
}